@page "{id}"
@using MaterialCtrl.Pages.Projects

@model EditModel

<h1>Edit @Model.Project.Name</h1>

<form method="post">
    <input type="hidden" asp-for="Project.Id" />
    <div>
        <label asp-for="Project.Name"></label>
        <input asp-for="Project.Name" />
        <span asp-validation-for="Project.Name"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>
