@model HomeIndexViewModel

@{
    ViewBag.Title = "Material Control";
}

<h1>All Projects</h1>

@foreach (var project in Model.Projects) {
    @Html.Partial("_Summary", project)
}

<div>
    <a asp-action="Create">Add Project</a>
</div>

<div>
    @section footer{
        <h5>@Model.CurrentMessage</h5>
}
</div>